body {
    text-align: center;
}
h1 {
    color: dodgerblue;
}
img {
    width: 300px;
    height: 290px;
}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: thistle;
    padding: 50px;
    border-radius: 5%;
    border-color: black;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}